body{
    
    font-family: 'Roboto', sans-serif;
}
section{
    margin: 2% 2%;
}
p{
    margin-bottom: 50px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-bottom: 10%;
    margin-right: 2%;
}
h1{
    font-size: 70px;
    font-weight: 200px;
    color: #484A64;
    padding: 1px 1px;
    margin: 1px 1px;
    font-family: 'Bebas Neue', cursive;
}
h2{
    font-size: 50px;
}
.name-highlight{
    color: #ff247a;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#F49560, #F9BE61);
    padding: 20px 50px;
    margin-top: 40px;
    border-radius: 5px;
    color: white
}



.one-third img{
 width: 100%;
}
.one-third{
    float: left;
    width: 25%;
    margin: 3% 3%;
    padding: 1% 1%;
    border-radius: 15px;
    box-shadow: 3px 3px 20px grey;

}
.all{
    height:600px; 
}
.all h2{
    text-align: center;
}
.work{
width: 80%;
margin-left: 8%;
margin-right: 8%;

position: absolute;
}
.inq{
    float: left;
    padding: 20px 20px;
    background-image: url("images/shape.png");
    background-repeat: no-repeat;
    widows: 70%;
    height: 250px;
    
}
